body {
  margin:                35px;
  word-wrap:             break-word;
  font-family:   Courier;
}

header.masthead {
  line-height:   1;
  color:         #333;
  margin:        0 auto;
  padding:       0;
  max-width:     1024px;
  font-size:     14px;
}

img {
  max-width: 100%;
  height:    auto;
  margin:    2px;
}

.container {
  font-size:        14px;
  color:       #444;
  line-height: 140%;
  max-width:   1024px;
  position:    relative;
}

.gif-container {
  background-color: white;
  font-size:        14px;
  color:            #444;
  line-height:      130%;
  text-align:       left;
  max-width:        900px;
  margin:           auto;
  padding-top:      2px;
  padding-left:     20px;
  padding-right:    20px;
  padding-bottom:   2px;
  position:         relative;
}

.gif-header {
  font-size:        14px;
  text-align: center;
}

.header-container {
  font-size:        14px;
  color:       #444;
  line-height: 180%;
  width:       490px;
}

.sidebar {
  font-size:           14px;
  color:          #444;
  text-align:     left;
  vertical-align: top;
  max-width:      1024px;
}

footer {
  font-size:           14px;
}

a {
  text-decoration: none;
}

a:link {
  color: #333;
}

a:hover {
  color: #FF0000;
}
