header.masthead h1,
header.masthead nav {
  display:        inline-block;
  vertical-align: baseline;
  float:          none;
}

header.masthead nav {
  text-align: right;
  width:      38%;
}

header.masthead h1 {
  width: 60%;
}

footer a:link {
  color: black;
}

footer a:hover {
  color: red;
}