.left-image {
  /*background: #fff;*/
  margin-left: 95px;
  font: 21px/14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
body {
  height:1000px;
  width: 1000px;
  background-image: url('../images/scribs.png');
  background-repeat: repeat-y;
}