body {
  margin: 35px;
  word-wrap: break-word;
  background-image: url("/images/p5.png");
}
img {
  max-width: 100%;
  height: auto;
  margin: 2px;
}
.boss {
  background-color: #C2C2C2;
}
.boss:hover { color: white; background: #FF0000; }

.container {
  /*margin-left: 115px;*/
  font:        21px/14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:       #444;
  line-height: 140%;
  background-image: url("/images/sweater.png");
  border-top: dotted;
  border-bottom: dotted;
  border-color: dimgray;
  max-width: 1024px;
  margin: auto;
  margin-bottom: 200px;
  padding: 10px;
  position: relative;
}
.header-container{
  font:        21px/14px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:       #444;
  line-height: 180%;
  width: 500px;
}
.resume-container{
  font:        14px/14px Courier;
  color:       #444;
  line-height: 110%;
  text-align: left;
  max-width: 1280px;
  margin: auto;
  position: relative;
}
.resume-children{
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  border-top: dotted;
  border-top-width: thin;
  background-color: transparent;
}

/* #Tables
========================================== */
table {
  width: 100%;
}
td.content {
  padding-left: 4em;
  width: 30em
}
.sidebar {
  font: 16px/14px Courier;
  color: #444;
  text-align: right;
  vertical-align: top;
  border-left: dotted;
  padding-left: 2em;
  padding-right: .5em;
  max-width: 1024px;
  margin: auto;
}


/* #Links
========================================== */
  a { text-decoration: none; }
  /* unvisited link */
  a:link { color: #FF0000; }
  /* visited link */
  a:visited { color: #00FF00; }
  /* mouse over link */
  a:hover { color: #FF00FF; }
  /* selected link */
  a:active { color: #0000FF; }